<h2>Contact</h2>

<p>
  Questions? Comments? Send your thoughts to <strong>paul --at-- thoughtless --dot-- ca</strong>. 
  I'll do my best to answer every email in a timely manner, but if things really 
  take off (and I start getting a ton of emails), please understand if that 
  isn't possible.
</p>

<p><em>Email not good enough for you?</em></p>
<div class="address">
<strong>Mailing Address</strong>
<p>Thoughtless Corp.</p>
<p>c/o: Paul Cortens</p>
<p>3300 Whittier Ave.</p>
<p>Victoria, BC</p>
<p>V8Z 3P9</p>
<p>Canada</p>
</div>
<p><strong>Phone: </strong>+1.250.858.4960</p>
