<h2>Contact</h2>

<p>
  Questions? Comments? Send your thoughts to <strong>paul --at-- thoughtless --dot-- ca</strong>. 
  I'll do my best to answer every email in a timely manner, but if things really 
  take off (and I start getting a ton of emails), please understand if that 
  isn't possible.
</p>