<h2>How to get an access key</h2>

<p>
  Just <%= link_to 'click here to sign up', new_user_path %>. Please keep in mind that 
  Dynamic Images is currently in beta. If you have any problems signing up, 
  please send an email to <strong>paul --at-- thoughtless --dot-- ca</strong>.
</p>
