<h3>Change your vector-based graphics just by editing your CSS!</h3>

<p>
  How many hours have you wasted flipping between graphics software such as 
  Photoshop, GIMP, or Inkscape and your CSS/HTML editor just so you can try out 
  a   new color? First you change the background-color attribute, and then you 
  switch to Photoshop and rebuild a gradient to use the new color. But before 
  saving the new image, don't forget to copy the old one so you don't lose it! 
  So how long did that take you? If you're good with your tools probably 30-60 
  seconds for a simple change. If you need to adjust multiple images, such as the 
  multiple sides of a div, then it might take closer to 5 minutes.
</p>
<p>
  What if you could make those changes in 15 seconds--even the more complex 
  ones?   What if you could make those changes without switching back to 
  Photoshop? Just a few changes in your CSS (maybe a find and replace for all of 
  one color) and you are done!
</p>
<p>
  <span class="strong-em">Introducing Dynamic Images ... </span> just state what kind 
  of image you want in a URL that can be referenced from CSS and HTML. The image 
  is dynamically generated for you. Change the URL in your code and the image 
  changes!
</p>
