<p>
  So here's how it works:
</p>
<ol>
  <li>Decide what image you want. For example, a 25 pixel long gradient that has red at the top and blue at the bottom.</li>
  <li>Form your URL: http://www.thoughtless.ca/dyn_img/my_access_key/gradient/direction/top/from/red/to/blue/size/25</li>
  <li>Put your URL into your CSS or HTML</li>
</ol>
<p>
  That's it. You can change your colors, or any other attribute of the image by simply adjusting the URL. So what's the catch? 
  You do have to actually have to sign up to <%= link_to 'get an access key', :controller => 'pages', :action => 'get_an_access_key' %>.
</p>
